body{
    background-color: rgba(64, 130, 160, 0.788);

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h3 {
  text-align: center;
  color: #061820;
    padding: 5px;
  outline-style: solid;
  outline-color: rgb(38, 76, 94);
  border-radius: 15px;
}

}
h1 {
  text-align: center;
  
}
    img {
  border: 1px solid #bae1fc;
  border-radius: 30px;
  padding: 5px;
  width: 200px;
}

}